@namespace NCPC.Blazor.Components

<SfDialog ID="sf-confirm-dialog" CssClass="rounded-3" Width="@Width" Height="@Height" MinHeight="150px" @bind-Visible="@DialogVisibility" 
IsModal="true" Target="@Target" ShowCloseIcon="ShowCloseIcon">
    <DialogTemplates>       
        <Header>
           <h6 class="">@Title</h6>
        </Header>
        <Content>
            <div class="position-relative w-100 h-100">                
                <div class="content-alert @TextAlign">
                    @if (Mensage != SfResources.ConfirmarMensagem)
                    {
                        @Mensage
                    }
                    else
                    {
                        @MarkupMensage
                    }
                </div>
                <div class="position-absolute fixed-bottom text-center h-40-px pt-2">
                    <SfButton CssClass="e-primary e-outline" @onclick="@Confirm">@SfResources.ConfirmDialog_BotaoConfirmar</SfButton>
                    <SfButton CssClass="e-warning  e-outline" @onclick="@Cancel">@SfResources.ConfirmDialog_BotaoCancelar</SfButton>
                </div>
            </div>
        </Content>
    </DialogTemplates>
    <DialogAnimationSettings Effect="DialogEffect.Zoom"></DialogAnimationSettings>
</SfDialog>