@inherits DanielBaseComponent
@inject NavigationManager NavigationManager;
@namespace Daniel.Blazor.Components
@typeparam TViewModel

<div class="card">
    <div class="card-body">
        <div class="card-title" style="display:flex;flex-direction: row;">
            <div >
                @BeforeButtons
                @if (!HideNew)
                {
                    <SfButton CssClass="e-primary e-outline" type="button" @onclick="@OnNewClick" IconCss="fas fa-plus">@SfResources.New</SfButton>
                }
                @if (!HideEdit)
                {
                    <SfButton CssClass="e-primary e-outline" type="button" @onclick="@OnEditClick" Disabled="@DisableEdit" IconCss="far fa-edit">@SfResources.Edit</SfButton>
                }
                @if (!HideDelete)
                {
                    <SfButton CssClass="e-primary e-outline" type="button" @onclick="@OnDeleteClick" Disabled="@DisableDelete" IconCss="far fa-trash-alt">@SfResources.Delete</SfButton>
                }
                @*<button class="btn btn-secondary" type="button" @onclick="@Teste">Teste</button>*@
            </div>
            <div style="flex-grow: 1;padding-left:20px;">
               @TopRightFragment
            </div>
        </div>
        <div class="">
            <div class="">
                <SfSpinner @ref="SpinnerObj"></SfSpinner>
                <div id="container">
                    @BeforeGrid
                    <SfGrid TValue="TViewModel" @ref="@Grid" AllowFiltering="@AllowFiltering" AllowGrouping="@AllowGrouping" AllowSorting="@AllowSorting"
                            AllowPaging="@AllowPaging" EnableAltRow="true" EnableHover="true" RowHeight="38" DataSource="@DataSource" Query="@Query"
                            >
                        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu">
                        </GridFilterSettings>
                        <GridSortSettings>
                            <GridSortColumns>
                                @foreach (GridSortColumn scolumn in InitialSortColumns)
                                {
                                    <GridSortColumn Field="@scolumn.Field" Direction="@scolumn.Direction"></GridSortColumn>
                                }
                            </GridSortColumns>
                        </GridSortSettings>
                        <GridPageSettings PageSize="@PageSize"></GridPageSettings>
                        <GridEvents TValue="TViewModel" RowSelected="OnSelectLine" OnRecordDoubleClick="OnRecordDoubleClick">
                        </GridEvents>
                        
                        @if (DataSource == null)
                        {
                            <SfDataManager Adaptor="Adaptors.CustomAdaptor" >
                                <DataAdaptorComponent TModel="TViewModel" Action="@ListAction" DataRead="AfterDataLoad" @ref="DataAdaptorComponent" IncludeFields="@IncludeFields">
                                </DataAdaptorComponent>
                            </SfDataManager>
                        }
                        <GridColumns>
                            @Columns
                        </GridColumns>
                    </SfGrid>
                    @ChildContent
                </div>
            </div>
        </div>
    </div>
</div>
<ConfirmDialog Mensage="@SfResources.ConfirmDeleteRecord" DialogVisibility="@ShowDeleteDialog" ConfirmCallback="DeleteRecord" CancelCallback="DialogVisible" />